@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

// Theme
$blue: #3c2626;
$accent-blue: #000000;
$salmon: #feb062;
$off-white: #F4F4F4;
$pink: #e7b3b3;

// Modules
$border: #202020;

// Defaults
$body-bg: $blue;
$body-color: $off-white;
$primary: $salmon;
$secondary: $pink;

$navbar-dark-color: $off-white;

$font-family-sans-serif: 'Source Sans Pro',
sans-serif;

// Bootstrap scss import
@import "../node_modules/bootstrap/scss/bootstrap.scss";