@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

// Theme
$blue: #2B3A55;
$accent-blue: #27274e;
$salmon: #CE7777;
$off-white: #F4F4F4;
$pink: #F7D1BA;

// Defaults
$body-bg: $blue;
$body-color: $off-white;
$primary: $salmon;
$secondary: $pink;

$navbar-dark-color: $off-white;

$font-family-sans-serif: 'Source Sans Pro', sans-serif;

// Bootstrap scss import
@import "../node_modules/bootstrap/scss/bootstrap.scss";