@use '../custom' as *;
@use '../components/mixin' as *;
@use '../components/animations' as *;

body {
    @include gradient;
    background-attachment: fixed;
}

.display-2 {
    padding-inline: 8vw;
    
    &--title {
        font-family: 'Roboto Mono', monospace;
    }

    @media (max-width: 991px) {
        padding-inline: 4vw;
    }
}

#typewriter {
    color: $pink;
    padding-left: .8rem;
}

#cursor {
    animation: blink 1s linear infinite;
}