@use '../custom' as *;
@use '../components/mixin' as *;
@use '../components/animations' as *;

body {
    @include gradient;
    background-attachment: fixed;
}

.display-2 {
    padding-inline: 8vw;
    
    &--title {
        font-family: 'Roboto Mono', monospace;
    }

}

#typewriter {
    color: $brown;
    padding-left: .8rem;
}

#cursor {
    animation: blink 1s linear infinite;
}