@use '../custom'as *;
@use '../components/mixin'as *;
@use '../components/animations'as *;

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');

/* Visualization Test */
.row {

    // border: 1px solid white;
    .col {
        // border: 1px solid yellow;
    }
}

body {
    @include gradient;
    background-attachment: fixed;
}

.index,
.resume,
.portfolio,
.contact {
    .display-2 {
        &--title {
            font-weight: 600;
            font-family: 'Jetbrains Mono', monospace;
        }
    }
}

.index {
    .display-2 {
        padding-inline: 8vw;

        @media (max-width: 991px) {
            padding-inline: 4vw;
        }

        #typewriter {
            color: $pink;
            padding-left: .4rem;
        }

        #cursor {
            animation: blink 1s linear infinite;
        }
    }
}

.resume {
    @media (max-width: 991px) {
        .skills {
            min-width: 260px;
        }

        .history {
            min-width: 260px;
        }
    }

    @media (min-width: 991px) {
        .top-row {
            padding-inline: 8vw;
        }

        .history {
            padding-inline: 8vw;
        }
    }

    .information {
        .pfp {
            border-radius: 100%;
            max-width: 25vh;
        }

        a {
            img {
                height: 1rem;

            }
        }
    }

    .skill-sec {
        width: 46vw;
    }

    .skills {
        background: rgba($color: $black, $alpha: .4);

        img {
            margin-inline: .2rem;
            margin-bottom: .4rem;
            padding: .2rem;
            border: 1px solid rgba($color: $primary, $alpha: .3);
            border-radius: .2rem;
        }
    }
}

.contact {
    margin-top: 36vh;

    .email,
    .discord {
        background: rgba($color: #000000, $alpha: .4);
    }
}

.portfolio {
    @media (min-width: 991px) {
        .card {
            width: 70vw;
        }
    }

    .card {
        border: none;
        box-shadow: inset 0 0 0 2000px rgba($color: $black, $alpha: .8);

        img {
            border: 1px solid rgba($color: $primary, $alpha: .3);
        }
    }
}