@use '../custom' as *;

@media only screen and (max-width: 991px) {
    .line {
        &--top, &--bottom {
            height: 3vh;
        }
    
        &--left, &--right {
            width: 1vh;
        }
    }
}

.line {
    background: $pink;
    
    &--top, &--bottom {
        height: 3vh;
    }

    &--left, &--right {
        position:fixed;
        top: 0;
        height: 100%;
        width: 3vh;
    }
    
    &--right {
        right: 0;
    }

    @media (max-width: 991px) {
        &--top, &--bottom {
            height: 1.6vh;
        }
        &--left, &--right {
            width: 1.6vh;
        }
    }
}