@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DinkieBitmap";
  src: url("/fonts/DinkieBitmap-7px.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: optional;
  font-display: swap;
}

@font-face {
  font-family: "zpix";
  src: url("/fonts/zpix.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: optional;
  font-display: swap;
}

:root {
  --dark-purple: #1b0e21;
  --purple: #1b112b;

  --dark-blue: #171a2c;
  --dark-cyan: #2d4f59;
  --cyan: #5a9586;
  --light-cyan: #7ea892;

  --yellow: #d9c882;
  --yellow-orange: #d9a568;
  --orange: #c9835d;
  --red: #b9535b;
  --pink: #a5405e;
  --magenta: #8e2a59;
}

/* body {
  overflow: hidden;
} */
