@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-size: 13px;
    --nav-max-width: 474px;
    --content-max-width: 675px;
}

/* ------------------------------------------ */
/*               DEFAULT LAYOUT               */
/* ------------------------------------------ */
@layer base {
    html[data-theme='default'] {
        --color-text: #8cff1a;
        --color-header: #8f7ff7;
        --color-link: #ff8052;
        --color-border: #8cff1a;
    }

    html[data-theme='default'] h2 {
        font-size: 1.5rem /* 24px */;
        line-height: 2rem /* 32px */;
        font-weight: 700;
    }
    
    html[data-theme='default'] h3 {
        font-weight: 900;
    }
}

/* ------------------------------------------ */
/*            ACCESSIBILITY LAYOUT            */
/* ------------------------------------------ */
@layer base {
    html[data-theme='monochromatic'] {
        --color-text: #ffffff;
        --color-header: #ffffff;
        --color-link: #ffffff;
        --color-border: #ffffff;
    }
}

/* ------------------------------------------ */
/*             CUSTOM TEST LAYOUT             */
/* ------------------------------------------ */
@layer base {
    html[data-theme='CUSTOM'] {
        --color-text: #ffffff;
        --color-header: #E2E2B6;
        --color-link: #6EACDA;
        --color-border: #E2E2B6;
    }
}

/* --------------------- GLOBAL CSS --------------------- */


h3, h2 {
    color: theme(colors.header);
}

a {
    color: theme(colors.link);
}

img {
    image-rendering:crisp-edges;
}

hr {
    display: none;
}

code {
    color: white;
}

html {
    font-family: monospace;
    color: theme(colors.text);
    font-size: var(--font-size);
    background-color: black;
    overflow-y: auto;
    text-transform: lowercase;
}

/* ------------ Classes ------------ */

.underline-links a {
    text-decoration: underline;
}

/* -------------- FORUM ------------- */

#HCB_comment_box {
    font-family: monospace !important;
    color:white !important;
}

#HCB_comment_box h3 {
    font-size: 1.5rem /* 24px */;
    font-weight: bold !important;
}

.home-desc,
.hcb-icon,
.hcb-comment-tb {
    display: none;
}

#hcb_form_name,
#hcb_form_website,
#hcb_form_content {
    padding: 0.5rem !important;
    border: 1px var(--color-border) solid;
    background: black;
    width: 100%;
}

#HCB_comment_box input,
#HCB_comment_box textarea {
    font-family: monospace !important;
    font-size: var(--font-size) !important;
    background-color: rgba(0,0,0,0.1);
    backdrop-filter: blur(4px);
}

#hcb_form_name_container {
    display: flex;
}

#HCB_comment_box h3::after {
    content: ":";
}

.hcb-wrapper-half #hcb_form_name_container::before {
    padding-right: 0.5rem;
    line-height: 32px;
    width: 75px;
}
.hcb-wrapper-half #hcb_form_name_container:has([name="name"])::before {
    content: "name* :";
}
.hcb-wrapper-half #hcb_form_name_container:has([name="website"])::before {
    content: "website:";
}


#HCB_comment_form_box button,
.submit {
    font-family: monospace !important;
    background: rgba(0,0,0,0.1) !important;
    backdrop-filter: blur(4px);
    border: 1px var(--color-border) solid !important;
    color: white !important;
}

.hcb-comment-body {
    text-transform: none;
    font-size: var(--font-size) !important;
}

#comments_list div[id*='comment'] {
    border-left: 1px var(--color-border) solid;
    padding-left: 1rem;
}